__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

venv/
env/
.venv/

checkpoints/
*.pt
*.pth
*.bin
*.safetensors
my_ai_model/

logs/
*.log
wandb/

.cache/
huggingface/

data_raw/
*.zip
*.tar
*.gz

.ipynb_checkpoints/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
desktop.ini

.env
*.key
secrets.json